/*header Content*/

header{
    padding: 5px;
    justify-content: start;
    margin:20px 10px 50px 10px;
    background-color: var(--almond);
    border-radius: 5px;
}

.logo-img{
    width: 50px;
    height: 100%;
    margin-bottom: 25px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: start, space-between;
    gap: 40px;
    margin: 30px 0 0 20px;
    padding: 5px;
}

.header-nav a{
    margin-top: 15px;
    color: var(--Espresso);
    text-decoration: none;
    transition: transform 0.3s ease;
    font-size: 18px;
}

.header-nav a:hover{
    transform: translateY(-6px);
    color: var(--Chestnut);
    text-decoration: underline;
}

/*Footer Content*/

@media screen and (max-width: 474px){

    header{
        width: auto;
        text-align: center;
    }

    .header-nav{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .header-nav a{
        font-size: 14px;
        margin-bottom: 20px;
    }
}