/*header Content*/

header{
    padding: 5px;
    justify-content: start;
    margin:20px 10px 50px 10px;
    background: var(--almond-gradient);
    border-radius: 5px;
}

.logo-img{
    width: 50px;
    height: 100%;
    margin-bottom: 25px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: start, space-between;
    gap: 40px;
    margin: 30px 0 0 20px;
    padding: 5px;
}

.header-nav a{
    margin-top: 15px;
    color: var(--almond);
    text-decoration: none;
    transition: transform 0.3s ease;
    font-size: 18px;
}

.header-nav a:hover{
    transform: translateY(-6px);
    color: var(--Chestnut);
    text-decoration: underline;
}


/*Footer Content*/
.site-footer {
  background-color: var(--Mocha);
  color: var(--almond);
  padding: 40px 20px;
  text-align: left;
  position: relative;
  z-index: 1000;
  bottom: 0;
}

.footer-contact {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-contact h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  line-height: 1.8;
}

.footer-contact a {
  color: var(--almond);
  text-decoration: underline;
}

@media screen and (max-width: 474px){

    header{
        width: auto;
        text-align: center;
    }

    .header-nav{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .header-nav a{
        font-size: 14px;
        margin-bottom: 20px;
    }
}