.creator-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 200px;
  position: relative;
  z-index: 999;
}

.creator-year,
.creator-role {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: clamp(1rem, 2vw, 2rem);
  color: var(--Espresso);
  font-weight: 100;
  z-index: 999;
}

.creator-line {
    width: 1px;
    height: clamp(200px, 10vh, 200px);
    background-color: var(--Espresso);
    margin: 10px 0;
    z-index: 999;
}

.creator-txt {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    z-index: 999;
}