:root{
    /*/Colors/*/
    --almond: #EFDECD;
    --Taupe: #D2B1A3;
    --Cinnamon: #CD8B62;
    --Mocha: #B6744C;
    --Chestnut: #8B5E3C;
    --Espresso: #4B2E2B;

    /*/opacity color/*/
    --almond-30: rgba(239, 222, 205, 0.3);
}